<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njit.ece.senior_project.medical_sensor.activtytrackerfrontend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ActivityClassifierActivity" />
        <activity android:name=".Activities.DeviceScanActivity" />
        <activity android:name=".Activities.DeviceSelectActivity" />
        <activity android:name=".Activities.SerialConsoleActivity" />
        <activity android:name=".Activities.DeviceSelectActivityForListenerTest" />
        <activity android:name=".Activities.DeviceSelectActivityForActivityClassifier" />

        <service android:name="com.njit.ece.senior_project.medical_sensor.data.FallDetector.FallNotifier$NotificationActionService" />

        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity
            android:name=".Activities.SelectorActivity"
            android:label="Select an Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BluetoothListenerTestActivity" />
        <activity android:name=".Activities.DailyLog"></activity>
    </application>

</manifest>